<h1>Penpal wants to get to know you a little more</h1>

<center>
  <%= fields_for @survey, :url => '/survey',  method: :post do |f| %>
  <%= f.check_box("user", "feelings", {:multiple => true}, "Down", nil) %>
  <%= f.check_box("user", "feelings", {:multiple => true}, "Sad", nil) %>
  <%= f.check_box("user", "feelings", {:multiple => true}, "Alone", nil) %>
  <%= f.check_box("user", "feelings", {:multiple => true}, "Unmotivated", nil) %>
  <%= f.check_box("user", "feelings", {:multiple => true}, "Mad", nil) %>
  <%= f.submit %>
  <% end %>
</center>
