<%= render partial: 'partials/nav' %>

<h1>My Support Buddies</h1>

<% current_user.buddies.each do |buddy| %>
  <section id='buddy-<%= buddy.id %>'>
    <h3><%= buddy.first_name + ' ' + buddy.last_name %></h3>
    <p>Email: <%= buddy.email %></p>
    <p>Phone: <%= buddy.phone_number %></p>
    <%= link_to 'Edit Buddy', "/buddies/#{buddy.id}/edit" %>
    <%= link_to 'Delete Buddy', "/buddies/#{buddy.id}", method: :delete %>
  </section>
<% end %>

<%= button_to 'Add a Buddy', '/buddies/new', method: :get %>
