<%= render partial: 'partials/nav' %>

<h1>Profile</h1>

<p>Name: <%= current_user.first_name %>  <%= current_user.last_name %></p>
<p>Email: <%= current_user.email %> </p>


<%= link_to 'Connect to Spotify', spotify_path %>


<%= link_to 'Preferences', '/preferences' %>
<%= link_to 'Buddies', '/buddies', method: :get %>
<%= link_to 'Edit Profile', "/users/#{current_user.id}/edit" %>
<%= button_to 'Delete Account', "/users/#{current_user.id}", method: :delete %>
