<h1>Preferences</h1>

<h2>Why am I Using PenPal</h2>
<% current_user.feeling_preferences.each do |pref| %>
  <%= pref.feeling %>
<% end %>

<h2>Activity Preferences</h2>
<% current_user.activity_preferences.each do |pref| %>
  <%= pref.description.capitalize %>
<% end %>

<h2>Media Preferences</h2>
<p>Dogs: <%= current_user.media_preference[:dogs] %> </p>
<p>Cats: <%= current_user.media_preference[:cats] %> </p>
<p>Animals: <%= current_user.media_preference[:animals] %> </p>
<p>Baby Humans: <%= current_user.media_preference[:babies] %> </p>
<p>Celestial: <%= current_user.media_preference[:celestial] %> </p>
<p>Landscapes: <%= current_user.media_preference[:landscapes] %> </p>

<h2>Music Preferences</h2>
<% current_user.music_preferences.each do |pref| %>
  <%= pref.genre %>
<% end %>

<h2>Time Preferences</h2>
<p>Morning: <%= current_user.time_preference[:morning] %></p>
<p>MidDay: <%= current_user.time_preference[:midday] %></p>
<p>Before Bed: <%= current_user.time_preference[:before_bed] %></p>
<p>Random: <%= current_user.time_preference[:random] %></p>

<%= link_to 'Edit Preferences', '/preferences/edit' %>
