<center>
  <% if survey_not_completed? %>
    <section>
      <%= render partial: 'partials/feedback' %>
    </section>
  <% end %>

  <h3>DBT Quote: something to think about when you feel stuck</h3>
  <section id='dbt-quote'>
    <%= @quote.quote %>
  </section>

  <% if session[:suggestion] != 'journal' %>
    <h3>Journal about how you're feeling, then click save.</h3>
      <section id='journal-entry'>
      <%= form_for @entry do |f| %>
        <p>
          <%= f.label 'Entry' %>
          <%= f.text_area(:entry) %>
        </p>
        <p>
          <%= f.submit 'Save Entry', method: :post %>
        </p>
      <% end %>
      </section>
    <% end %>
</center>
